/*---------------------------------------------------------------
  ihappy.css
  Description: A private app theme designed by WeiShai.
  Version: 1.0
*---------------------------------------------------------------*/

/* Reset
----------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Default styles
----------------------------------------------------------------*/
/* new clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {zoom: 1;} /* IE6 */
*:first-child+html .clearfix {zoom: 1;} /* IE7 */

body{
  font-family: "Helvetica Neue", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, sans-serif;
  color: #333;
  background-color: #fdbb30;
}

/* App styles
----------------------------------------------------------------*/
.wrap{}

/* header */
.header{
  position: relative;
  margin: 0 11.11%;
  padding-top: 40px;}
.header .header-inner{
  width: 85%;
  background-color: #000;
  border-bottom: 24px #555 solid;
  margin: 80px 0 0 auto;
  position: relative;}
.header .logo{
  position: absolute;
  left: -12.5%;
  bottom: -24px;}
.logo-my{
    position:relative;
    width:96px;
    height:108px;
  }

  .logo-my .m-part{
    width:76px;
    height:24px;
    border:10px solid #AA4F39;
    border-bottom:none;
  }
    .m-part .m-part-mid{
      width:35px;
      height:18px;
      margin-top:6px;
      border-right:10px solid #AA4F39;
    }
  .logo-my .y-part{
    position:relative;
    margin-top:6px;
    width:88px;
    height:60px;
  }
    .y-part .y-part-top{
      width:76px;
      height:18px;
      border:10px solid #AA4F39;
      border-top:none;
    }
    .y-part .y-part-bot{
      position:relative;
      margin-top:6px;
      width:76px;
      height:24px;
      border:10px solid #AA4F39;
      border-top:none;
    }
    .y-part .y-part-tail{
      position:absolute;
      width:10px;
      height:6px;
      top:-6px;
      right:-10px;
      background-color:#AA4F39;
    }
.header .navlist{
  position: absolute;
  width: 100%;
  font-size: 24px;
  -webkit-transition: .33s ease-out;
  -moz-transition: .33s ease-out;
  -ms-transition: 1.33s ease-out;
  transition: .33s ease-out;
  text-align: left;
  bottom: -30px;
  margin-bottom: 0;
  opacity: 0;}
.header .navlist > li{
  width: 16.6%;
  float: left;
  list-style: none;
  box-sizing: border-box;
  padding: 0 16px;}
.header .navlist > li a{
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: #555;}
.header .navlist > li a:hover{
  color: #fff;}
.header:hover .navlist{
  margin-bottom: 36px;
  opacity: 1;
}

/* postlist */
.postlist-wrap{
  position: relative;
  margin: 0 11.11%;}
.postlist{
  width: 85%;
  margin: 0 0 0 auto;}
.postlist .post{
  width: 100%;
  margin-top: 24px;
  background-color: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0 20px;
  -webkit-transition: .33s ease-out;
  -moz-transition: .33s ease-out;
  -ms-transition: .33s ease-out;
  transition: .33s ease-out;
  position: relative;}
.postlist .post-link{
  text-decoration: none;}
.postlist .post-title{
  padding: 20px 0 40px;
  font-size: 24px;
  color: #686868;}
.postlist .post-meta{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  text-align: right;
  z-index: -1;
  -webkit-transition: .33s ease-out;
  -moz-transition: .33s ease-out;
  -ms-transition: .33s ease-out;
  transition: .33s ease-out;
  opacity: 0;}
.postlist .post-meta .post-time{
  font-size: 18px;
  font-weight: bold;
  padding: 20% 0 8%;
  color: #555;}
.postlist .post-meta .post-author{
  font-size: 18px;
  font-weight: bold;
  color: #333;}

.postlist .post:hover{
  margin-left: -12.5%;
}
.postlist .post:hover .post-meta{
  margin-right: -11%;
  opacity: 1;}









/* App styles
----------------------------------------------------------------*/

/* App styles
----------------------------------------------------------------*/













