/*---------------------------------------------------------------
  ihappy.css
  Description: A private app theme designed by WeiShai.
  Version: 1.0
*---------------------------------------------------------------*/

/* Reset
----------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Default styles
----------------------------------------------------------------*/
/* new clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
} /* IE6 */
*:first-child+html .clearfix {
  zoom: 1;
} /* IE7 */

body{
  font-family: "Helvetica Neue", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, sans-serif;
  color: #333;
}

a{
  text-decoration: none;
  outline: none;
}

input,textarea,button{
  font-family: inherit;
}

input:-moz-placeholder {
  color: #e0e0e0;
}
::-webkit-input-placeholder {
  color:#e0e0e0;
}
input:focus::-webkit-input-placeholder {
  color:#eee;
}

/* Component styles
----------------------------------------------------------------*/
/* button */
.btn{
  background-color: #e1704b;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  padding: 10px 24px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  border: 0;
}
.btn:hover{
  background-color: #E79073;
}
.btn-dark{
  background-color: #848484;}
  .btn-dark:hover{
    background-color: #a8a8a8;
  }
.btn-mini{
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 3px;}

.btn-group{
  text-align: center;
}
.btn-group .btn{
  margin: 0 6px;
}

/* iTab */
.tab-box{}
.tab-box .tab-nav{}
  .tab-box .tab-nav:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    *zoom: 1;
  }
.tab-box .tab-nav > li{}
.tab-box .tab-nav .nav-btn{
  display: inline-block;
}
  .tab-box .tab-nav .btn-active{

  }
.tab-box .tab-content{
  overflow-y: auto;;;

}
.tab-box .tab-content .tab-item{
  display: none;
}
  .tab-box .tab-content > .item-active{
    display: block;
  }

/* popover */
.popover{
  position: absolute;
  margin-top: 6px;
  z-index: 1010;
}
.popover .popover-content{
  padding: 8px 0;
  border-radius: 4px;
  width: 128px;
  border: 1px solid #DBDBDB;
}

/* App styles
----------------------------------------------------------------*/
/* header */
.header{
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #F2F2F2;
  z-index: 1;
}
.header .header-inner{
}
.header .logo{
  position: absolute;
  top: 50%;
  left: 18px;
  margin: -54px 0 0 0;
  -webkit-transform: scale(0.6);
  z-index: 8000;
}
.logo-my{
  position:relative;
  width:96px;
  height:108px;
}

  .logo-my .m-part{
  width:76px;
  height:24px;
  border:10px solid #AA4F39;
  border-bottom:none;
}
    .m-part .m-part-mid{
  width:35px;
  height:18px;
  margin-top:6px;
  border-right:10px solid #AA4F39;
}
  .logo-my .y-part{
  position:relative;
  margin-top:6px;
  width:88px;
  height:60px;
}
    .y-part .y-part-top{
  width:76px;
  height:18px;
  border:10px solid #AA4F39;
  border-top:none;
}
    .y-part .y-part-bot{
  position:relative;
  margin-top:6px;
  width:76px;
  height:24px;
  border:10px solid #AA4F39;
  border-top:none;
}
    .y-part .y-part-tail{
  position:absolute;
  width:10px;
  height:6px;
  top:-6px;
  right:-10px;
  background-color:#AA4F39;
}
.header .navlist{
  position: absolute;
  width: 50%;
  font-size: 24px;
  -webkit-transition: .33s ease-out;
  -moz-transition: .33s ease-out;
  -ms-transition: .33s ease-out;
  transition: .33s ease-out;
  text-align: center;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -25%;
}
.header .navlist > li{
  float: left;
  list-style: none;
  box-sizing: border-box;
  padding: 0 2%;
}
.header .navlist > li a{
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: #555;
}
.header .navlist > li a:hover{
  color: #e1704b;
}
.header .navlist > .active a{
  color: #e1704b;
}
.header .nav-hide .navlist{
  opacity: 0;
}

.header .btn-create{
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -20px;
  font-size: 1em;
}
.header .btn-create .icon-plus{
  margin-right: 16px;
}

.header .create-box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  background-color: #fff;
}

.addform{}
.addform .input-wrap:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.addform .input-wrap .input-text{
  outline: none;
  margin: 0;
  border: 0;
  line-height: normal;
  display: inline-block;
}
.addform-header{
  height: 100px;
  background-color: #FFF;
  -webkit-transition:all .5s ease-out;
  -moz-transition:all .5s ease-out;
  -ms-transition:all .5s ease-out;
  transition:all .5s ease-out;
  position:relative;
  border-bottom:1px solid #F2F2F2;
}
  .header .addform-header-active{
    opacity: 1;
  }
.addform-header .btn-close{
  position: absolute;
  right: 0;
  height: 100%;
  width: 10%;
  top: 0;
  text-align: center;
  cursor: pointer;
  display: table;
  color: #ddd;
  opacity: 0;
}
  .addform-header .btn-close > i{
    font-size: 1.5em;
    display: table-cell;
    vertical-align: middle;
  }
  .addform-header .btn-close:hover{
    color: #e1704b;
  }
  .header .btn-close-active{
    -webkit-transition:opacity .33s ease-out .8s;
    -moz-transition:opacity .33s ease-out .8s;
    -ms-transition:opacity .33s ease-out .8s;
    transition:opacity .33s ease-out .8s;
      opacity: 1;
  }

.addform-header .input-wrap{
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}
.addform-header .input-wrap .input-text{
  height: 100%;
  width: 100%;
  padding: 0 12px;
  font-size: 24px;
  color: #888;
}
.addform-body{}
.addform-body-inner{
  width: 80%;
  margin: 0 auto;
  max-width: 960px;
}
.addform .textarea-wrap{
  margin-top: 4%;
  border: 1px solid #eee;
  padding: 16px;
  height: 80%;
}
.addform .tab-nav .nav-btn{
  padding: 8px 12px;
  font-size: 18px;
  color: #cdcdcd;}
.addform .tab-nav .nav-btn > i{
  margin-right: 4px;}
.addform-footer{
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  height: 10%;
}
.addform .editor{
  padding: 0 12px;
  height: 400px;
}
.addform-action{
  margin-top: 50px;
}
.addform-action .btn-submit{
  float: right;
}

.header .create-box-active{
  display: block;
  opacity: 1;
}

/* wrap */
.wrap{
  padding-top: 100px;
}
/* Article */
#postsList{}
#postsList .inner{
  max-width: 960px;
  margin: 0 auto;}

.article{
  padding: 2%;}
.article .post{
  margin-bottom: 2em;}
.article .post header{
  margin-bottom: 0.5em;}
.article .post .title{
  font-size: 1.6em;
  font-weight: 300;}
.article .post .title a{
  color: #666;}
  .article .post .title a:hover{
    color: #E1704B;
  }
.article .post .post-body{}
.article .post .post-content{
  color: #888;}
.article .post .post-control{
  position: relative;
  margin-top: 2%;}
.post-control .toolbar{
  float: right;}
.post-control .toolbar .ibtn{
  display: inline-block;
  color: #acacac;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
}
.post-control .toolbar .ibtn i{
  font-size: 16px;}
.post-control .toolbar .ibtn:hover, .post-control .toolbar .ibtn-active{
  color: #E1704B;
}


/* footer */
.footer{}

/* Tool Page
----------------------------------------------------------------*/
.toolapp{}
/* csslift */
.csslift{
  position: relative;
  width: 960px;
  margin: 100px auto 0;
}
.csslift .filezone{
  width: 100%;
  height: 300px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}
.csslift .filecheck{
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: #fefefe;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: all 0.33s ease-out;
  -moz-transition: all 0.33s ease-out;
  -o-transition: all 0.33s ease-out;
  transition: all 0.33s ease-out;
}
.csslift .filecheck-active{
  display: block;
  bottom: -30%;
  opacity: 1;
}
.csslift .filecheck .listbox{
  float: left;
  width: 30%;
  padding: 16px;
}
.csslift .listbox .listbox-title{
  padding-bottom: 10px;
  text-align: left;
  color: #E1704B;
  border-bottom: 1px solid #E1704B;
}
.csslift .listbox .listbox-main{
  padding: 8px 0;
  color: #888;
}
.csslift .listbox .filelist{
}
.csslift .listbox .filelist > li{
  text-align: left;
  line-height: 24px;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}
.csslift .btn-csslift-go{
  position: absolute;
  top: 26px;
  right: 30px;
}

/* App styles
----------------------------------------------------------------*/