/* Set height, width, borders, and global font properties here */
.CodeMirror {
  font-family: "Helvetica Neue", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, sans-serif;
  font-size: 16px;
  cursor: text;
  color: #666666;
}
.CodeMirror pre {
  line-height: 24px;
}
.CodeMirror-selected {
  background: #efefef;
}
.CodeMirror-focused .CodeMirror-selected {
  background: #efefef;
}
/* Set Scrollbar */
.CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 6px;
}
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
}
