@font-face {
	font-family: 'ihappy.font';
	src:url('fonts/ihappy.font.eot');
	src:url('fonts/ihappy.font.eot?#iefix') format('embedded-opentype'),
		url('fonts/ihappy.font.ttf') format('truetype'),
		url('fonts/ihappy.font.woff') format('woff'),
		url('fonts/ihappy.font.svg#ihappy.font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'ihappy.font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-tag:before {
	content: "\e601";
}
.icon-mobile:before {
	content: "\e602";
}
.icon-spinner:before {
	content: "\e603";
}
.icon-spinner2:before {
	content: "\e604";
}
.icon-spinner3:before {
	content: "\e605";
}
.icon-undo:before {
	content: "\e606";
}
.icon-redo:before {
	content: "\e607";
}
.icon-cog:before {
	content: "\e608";
}
.icon-list:before {
	content: "\e609";
}
.icon-file:before {
	content: "\e60a";
}
.icon-image:before {
	content: "\e60b";
}
.icon-switch:before {
	content: "\e60c";
}
.icon-arrow-left:before {
	content: "\e60d";
}
.icon-arrow-left2:before {
	content: "\e60e";
}
.icon-arrow-right:before {
	content: "\e60f";
}
.icon-arrow-right2:before {
	content: "\e610";
}
.icon-clock:before {
	content: "\e611";
}
.icon-envelop:before {
	content: "\e612";
}
.icon-screen:before {
	content: "\e613";
}
.icon-remove:before {
	content: "\e614";
}
.icon-plus:before {
	content: "\e615";
}
.icon-minus:before {
	content: "\e616";
}
.icon-close:before {
	content: "\e617";
}
.icon-checkmark:before {
	content: "\e618";
}
.icon-file-css:before {
	content: "\e619";
}
.icon-share:before {
	content: "\e61a";
}
.icon-code:before {
	content: "\e61b";
}
.icon-embed:before {
	content: "\e61c";
}
.icon-table:before {
	content: "\e61d";
}
.icon-checkbox-unchecked:before {
	content: "\e61e";
}
.icon-checkbox-checked:before {
	content: "\e61f";
}
.icon-notification:before {
	content: "\e620";
}
.icon-question:before {
	content: "\e621";
}
.icon-info:before {
	content: "\e622";
}
